.login-page {
  height: 100vh; /* Full viewport height */
  background: url('../img/loginpic.webp') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: cover;
}

.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header h1 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.forgot-password {
  text-align: right;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.social-login button {
  width: calc(50% - 4px);
  padding: 10px 0;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  background-color: #db4437; /* Google button */
}

.social-login button:last-child {
  margin-right: 0;
  background-color: #4267B2; /* Facebook button */
}

.social-login button:hover {
  opacity: 0.9;
}
